@media (max-width: 80em) {
  .main-heading {
    font-size: 6rem;
  }

  .grid--3--columns {
    gap: 2rem;
  }

  .grid-accordion {
    padding: 0 6.2rem;
  }

  .hero-section {
    padding-bottom: 2.4rem;
  }

  .btn-container {
    margin-top: 0;
  }

  .secondary-heading {
    font-size: 4rem;
  }
}

/* Wide Screen Tablets */
@media (max-width: 68em) {
  .main-heading {
    font-size: 5.2rem;
  }
  .secondary-heading {
    font-size: 3.8rem;
  }
  .section-heading {
    font-size: 1.4rem;
  }

  .accordion-heading {
    font-size: 2.2rem;
  }

  .link-btn:link {
    padding: 1.4rem 2.8rem;
    font-size: 1.4rem;
  }

  .hero-text-content {
    font-size: 1.7rem;
  }

  .card-text {
    font-size: 1.7rem;
  }

  .link-item:link {
    font-size: 1.8rem;
  }

  .skill-description {
    font-size: 1.7rem;
  }

  .grid--3--columns {
    grid-template-columns: repeat(2, 1fr);
    gap: 5.2rem;
  }

  .grid-accordion {
    padding: 0 5.8rem;
  }
}

/* Small Tablets */
@media (max-width: 57em) {
  .nav-links {
    list-style: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4.8rem;
  }

  .main-heading {
    font-size: 3.8rem;
  }

  .hero-text-content {
    font-size: 1.6rem;
  }

  .mobile-nav-btn {
    display: block;
  }

  .secondary-heading {
    font-size: 2.8rem;
  }

  .card-text {
    font-size: 1.6rem;
  }

  .grid--3--columns {
    grid-template-columns: repeat(2, 1fr);
  }

  .skill-description {
    font-size: 1.6rem;
  }

  .hero-img {
    width: 95%;
  }

  .mobile-nav-btn {
    display: block;
  }

  .main-nav {
    background-color: #f0f8ff;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    transform: translateX(100%);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in;
    opacity: 0;
    visibility: hidden;
    /* pointer-events is set to none to prevent assistive technologies finding  */
    /* finding the element */
    pointer-events: none;
  }

  /* This class will be added to the html elementer header */
  .open-nav .main-nav {
    transform: translateX(30%);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    position: fixed;
  }

  /* These two classes from line 148 to 155 will be added to the html*/
  /* header element, depending on the current state of the mobile nav */
  .open-nav .mobile-nav-icon[name='close-outline'] {
    display: block;
  }

  .open-nav .mobile-nav-icon[name='menu-outline'] {
    display: none;
  }

  .link-item:link {
    font-size: 2.4rem;
  }

  .link-btn:link {
    font-size: 1.2rem;
    padding: 1.4rem 2.8rem;
  }

  .hero-btn-container {
    margin-bottom: 2.8rem;
  }

  .mobile-nav-icon {
    height: 3.6rem;
    width: 3.6rem;
  }

  .footer-icon {
    height: 2rem;
    width: 2rem;
  }

  .rights-reserved {
    font-size: 1.2rem;
  }
  .contact-container {
    margin-bottom: 1.3rem;
  }

  .whole-contact,
  .whole-address {
    font-size: 1.6rem;
  }

  .contact-heading,
  .address-heading {
    font-size: 1.7rem;
  }
  .logo-container {
    margin-bottom: 1.4rem;
  }

  .logo-img {
    height: 5rem;
  }

  .main-heading {
    padding-top: 3.2rem;
  }

  .grid-accordion {
    padding: 0 2.4rem;
  }

  .rights-reserved {
    margin-left: 7rem;
  }

  .card-icon {
    height: 2rem;
    width: 2rem;
  }
}

/* Small tablets as well */
@media (max-width: 54em) {
  .grid--2--columns {
    grid-template-columns: 1fr;
    align-items: center;
    text-align: center;
  }

  .hero-btn-container {
    display: flex;
    justify-content: center;
  }

  .hero-img-container {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
  }
  .hero-img {
    width: 60%;
  }

  .hero-text-content {
    margin: 0 2.2rem 4rem 2.2rem;
  }

  .main-header,
  .grid-container {
    padding: 0 2.4rem;
  }

  .grid--3--columns {
    gap: 2rem;
  }

  .accordion {
    margin: 0 3.2rem;
  }

  .accordion-heading {
    font-size: 1.8rem;
  }

  .accordion-icon[name='chevron-down-outline'],
  .accordion-icon[name='chevron-up-outline'] {
    width: 2.4rem;
    height: 2.4rem;
  }

  .rights-reserved {
    margin-left: 4.2rem;
  }
}

@media (max-width: 36em) {
  .grid--3--columns {
    grid-template-columns: 1fr;
  }

  .hero-img {
    width: 80%;
  }

  .accordion {
    margin: 0;
  }

  html {
    font-size: 50%;
  }

  .main-header {
    padding: 0 2rem;
  }

  .contact-heading,
  .address-heading {
    font-size: 1.4rem;
  }

  .accordion-heading {
    font-size: 1.6rem;
  }

  .hero-img {
    width: 90%;
  }

  .logo-img {
    height: 5rem;
  }

  .grid-container {
    padding: 3.2rem 0.08rem;
  }

  .mobile-nav-icon {
    height: 2.8rem;
    width: 2.8rem;
  }

  .link-btn:link,
  .link-btn:visited {
    padding: 1.2rem 2.4rem;
  }

  .address-text,
  .contact-text {
    font-size: 1rem;
  }
  .footer-icon {
    height: 5rem;
  }

  .grid-accordion {
    padding: 0 1rem;
  }

  .grid--footer {
    gap: 1.6rem;
  }

  .contact-container {
    margin-right: 1.4rem;
  }

  .rights-reserved {
    margin: 0 0 0 2.8rem;
  }
}
