html {
  font-size: 62.5%;
  /* Where 62.5% is the zoom percentage of the user's browser */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #2e2d2d;
  position: relative;
  transition: all 0.3s;
  overflow-x: hidden;
}

/* ////////////// */
/* General styles */
/* ///////////// */

.main-heading {
  font-size: 6.2rem;
  line-height: 1.1;
  letter-spacing: 0.2rem;
  margin-bottom: 4rem;
}

.secondary-heading {
  text-align: center;
  font-size: 5rem;
  font-weight: 700;
  margin-bottom: 8rem;
}

.section-heading {
  text-align: center;
  font-size: 1.5rem;
  color: #05325f;
  font-weight: 700;
  margin-bottom: 4rem;
}

.link-btn:link,
.link-btn:visited {
  text-decoration: none;
  display: block;
  text-align: center;
  padding: 1.6rem 3.2rem;
  font-family: inherit;
  font-size: 1.4rem;
  font-weight: 700;
  transition: all 0.3s;
}

.logo-img {
  height: 5.8rem;
  text-align: center;
  margin-top: 2rem;
}

.btn--primary {
  background-color: #05325f;
  color: #f0f8ff;
}

.btn--primary:hover {
  background-color: #0e477c;
}

.btn--secondary:hover {
  background-color: #e5e9ec;
}

.btn--secondary {
  color: #05325f;
  border: 1px solid #05325f;
  background-color: #f0f8ff;
}

.hero-container {
  padding: 0 4.8rem;
}

.grid-container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 3.2rem 3.2rem;
  align-items: center;
  margin-bottom: 4rem;
}

.grid--2--columns {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 4rem;
  align-items: center;
}

.grid--3--columns {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 4rem;
  align-items: center;
}

.grid--footer {
  display: grid;
  grid-template-columns: 1.5fr 1fr 1fr;
  column-gap: 4rem;
}

.card {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  max-width: 100%;
  text-align: center;
  padding: 4rem 4rem;
  box-shadow: 0 0.4rem 0.8rem rgba(0, 0, 0, 0.075);
}

/* ///////////////////// */
/* For sticky navigation */
/* ///////////////////// */

.sticky .hero-section {
  margin-bottom: 9.8rem;
}

/* Where the sticky class has to be added
into the body classList */
.sticky .main-header {
  position: fixed;
  top: 0;
  right: 0;
  opacity: 0.9;
  background-color: #f0f8ff;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  z-index: 9999;
}

.sticky .logo-img[id='header-logo'] {
  opacity: 0.5;
}

.close-textbox {
  display: none;
}

.open-textbox {
  display: block;
}

/* ///////////// */
/* Hero Section */
/* //////////// */

.main-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 9.6rem;
  padding: 0 4.8rem;
  background-color: #edf2ff;
  position: relative;
  top: 0;
  left: 0;
}

.hero-section {
  background-color: #edf2ff;
}

.hero-img {
  width: 80%;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 4.8rem;
  transition: all 0 3s;
}

.mobile-nav-btn {
  background: none;
  cursor: pointer;
  outline: none;
  border: none;
  display: none;
}

.mobile-nav-icon {
  height: 4.2rem;
  width: 4.2rem;
  display: block;
  color: #05325f;
}

.mobile-nav-icon[name='close-outline'] {
  display: none;
}

.link-item:link,
.link-item:visited {
  text-decoration: none;
  font-size: 1.8em;
  font-weight: 700;
  color: #2e2d2d;
}

.link-item:hover {
  color: #05325f;
}

.link-item:active {
  color: #364fc7;
}

.hero-text-content {
  line-height: 1.6;
  font-size: 1.8rem;
  font-weight: 400;
  margin-bottom: 4.8rem;
}

.hero-btn-container {
  display: flex;
  margin-top: 2rem;
  gap: 2rem;
}

/* ///////////////// */
/* Project Section */
/* ///////////////// */

.section-projects {
  margin-top: 7rem;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.card-title {
  font-size: 1.5rem;
  font-weight: 700;
}

.card-text {
  font-size: 1.8rem;
  line-height: 1.6;
}

.card-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #05325f;
  background-color: #edf2ff;
  padding: 0.5rem;
  border-radius: 25rem;
}

/* ///////// ///////*/
/* About Me Section */
/* //////////////// */

.grid-accordion {
  padding: 0 4rem;
}

.accordion-container {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  justify-content: center;
  align-items: center;
}

.accordion {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
  margin: 0 8rem;
  border: 0.2rem solid #05325f;
  padding: 0 2.4rem 2.4rem 2.4rem;
  margin-bottom: 3.2rem;
}

.accordion-item {
  display: grid;
  grid-template-columns: 1fr auto;
  padding: 2.4rem;
  align-items: center;
  background-color: #05325f;
  color: #f0f8ff;
  box-shadow: 0 4px 8px rgba(5, 50, 95, 0.3);
}

.accordion-heading {
  font-size: 2.4rem;
  font-weight: 500;
}

.accordion-btn {
  background: none;
  border: none;
  cursor: pointer;
}

.accordion-icon[name='chevron-down-outline'],
.accordion-icon[name='chevron-up-outline'] {
  color: #f0f8ff;
  width: 3.2rem;
  height: 3.2rem;
  display: none;
}

.accordion-icon[name='chevron-up-outline'] {
  grid-column: 2;
}

/* These should into the html button element of the accordion item */
.close-accordion .accordion-icon[name='chevron-down-outline'] {
  display: block;
}

.open-accordion .accordion-icon[name='chevron-up-outline'] {
  display: block;
  transition: transform 0.3s ease;
}

.accordion-text {
  font-size: 1.8rem;
  line-height: 1.6;
  margin: 0 8rem 1.6rem 8rem;
}

.skill-list {
  display: flex;
  flex-direction: column;
  gap: 3.2rem;
  justify-content: center;
}

/* ////////// */
/* Footer */
/* ////////// */

.footer {
  background-color: #edf2ff;
  padding: 12.8rem 0;
}

.contact-heading,
.address-heading {
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1.6rem;
}

.address-items,
.contact-items {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.whole-contact,
.whole-address {
  font-size: 1.8rem;
}

.footer-icon {
  width: 2.4rem;
  height: 2.4rem;
  color: #2e2d2d;
}

.logo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo-link:link {
  display: block;
  text-decoration: none;
}
.logos {
  display: flex;
  gap: 1.6rem;
}

.rights-reserved {
  line-height: 1.5;
  margin-top: 2rem;
  font-size: 1.4rem;
  margin-left: 8rem;
}
